body {
  font-family: $default-font;
  font-size: 16px;
  font-weight: $normal-weight;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  app-home {
    flex: auto;
  }

  .primary-button {
    background-color: $primary-color;
    color: $font-color;
  }

  section.sticky {}
}

header {
  display: flex;
  background-color: $primary-color;
  color: $font-color;
  padding: 1rem $gutter;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      display: inline;
      padding-left: 1rem;
    }
  }
}

main.app-main {
  &__header {

    .search-box {

      .search-form {
        min-width: 150px;
        width: 100%;
      }
    }
  }

  .card-list {
    padding: 0 $gutter;
  }
}

footer {
  width: 100%;
  background-color: $primary-color;

  p {
    text-align: center;
    color: $secondary-color;
    padding: .75rem 0;
    font-size: .9rem;
  }

  p a {
    color: $secondary-color;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.color-green {
  color: green;
}
